sprite-sheet(sheet)
  display inline-block
  background-image url(sprite-sheet-path(sheet))
  background-size sprite-sheet-width(sheet) sprite-sheet-height(sheet)

for sheet in sprite-sheets
  $sprites-{sheet}
    sprite-sheet(sheet)

sprite(image, sheet = default-sprite-sheet, scale = 1)
  if (extend-sprite-sheets is true)
    @extend $sprites-{sheet}
  else
    sprite-sheet(sheet)
  width sprite-image-width(image, sheet) * scale
  height sprite-image-height(image, sheet) * scale
  background-size (sprite-sheet-width(sheet) * scale)  (sprite-sheet-height(sheet) * scale)
  background-position ((0 - sprite-image-x(image, sheet)) * scale) (( 0 - sprite-image-y(image, sheet)) * scale)